NexusPhone/Service References/NexusCore/CoreService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="com.nexusim.mobile" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.nexusim.mobile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="com.nexusim.mobile/Imports">
      <xsd:import schemaLocation="http://core.nexus-im.com/CoreService?xsd=xsd0" namespace="com.nexusim.mobile" />
      <xsd:import schemaLocation="http://core.nexus-im.com/CoreService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://core.nexus-im.com/CoreService?xsd=xsd2" namespace="com.nexus-im" />
      <xsd:import schemaLocation="http://core.nexus-im.com/CoreService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InstantMessage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CoreService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="CoreService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CoreService_GetContactInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfo" />
  </wsdl:message>
  <wsdl:message name="CoreService_GetContactInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CoreService_AccountsSignedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountsSignedIn" />
  </wsdl:message>
  <wsdl:message name="CoreService_AccountsSignedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountsSignedInResponse" />
  </wsdl:message>
  <wsdl:message name="CoreService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="CoreService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="CoreService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="com.nexusim.mobile/CoreService/Login" message="tns:CoreService_Login_InputMessage" />
      <wsdl:output wsaw:Action="com.nexusim.mobile/CoreService/LoginResponse" message="tns:CoreService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactInfo">
      <wsdl:input wsaw:Action="com.nexusim.mobile/CoreService/GetContactInfo" message="tns:CoreService_GetContactInfo_InputMessage" />
      <wsdl:output wsaw:Action="com.nexusim.mobile/CoreService/GetContactInfoResponse" message="tns:CoreService_GetContactInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountsSignedIn">
      <wsdl:input wsaw:Action="com.nexusim.mobile/CoreService/AccountsSignedIn" message="tns:CoreService_AccountsSignedIn_InputMessage" />
      <wsdl:output wsaw:Action="com.nexusim.mobile/CoreService/AccountsSignedInResponse" message="tns:CoreService_AccountsSignedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="com.nexusim.mobile/CoreService/GetAccounts" message="tns:CoreService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="com.nexusim.mobile/CoreService/GetAccountsResponse" message="tns:CoreService_GetAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>