NexusPhone/Service References/NexusCore/CoreService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.nexusim.mobile" elementFormDefault="qualified" targetNamespace="com.nexusim.mobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core.nexus-im.com/CoreService?xsd=xsd2" namespace="com.nexus-im" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="com.nexus-im" minOccurs="0" name="GetContactInfoResult" nillable="true" type="q1:ContactInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountsSignedIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountsSignedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountsSignedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="com.nexus-im" minOccurs="0" name="GetAccountsResult" nillable="true" type="q2:ArrayOfAccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>