SilverlightContactMap/Service References/NexusCore/CoreService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" />
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" minOccurs="0" name="GetLocationResult" nillable="true" type="q1:UserLocationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>