NexusWeb/Service References/AdminChannel/AdminChannel1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminChannel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IAdminChannel_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64796/Services/AdminChannel.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64796/Services/AdminChannel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64796/Services/AdminChannel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstantMessage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminChannel_DisconnectSwarmMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectSwarmMember" />
  </wsdl:message>
  <wsdl:message name="IAdminChannel_DisconnectSwarmMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectSwarmMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminChannel_BroadcastNewAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastNewAccount" />
  </wsdl:message>
  <wsdl:message name="IAdminChannel_BroadcastNewAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminChannel_ChangeAllProtocolsStatusForAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAllProtocolsStatusForAccount" />
  </wsdl:message>
  <wsdl:message name="IAdminChannel_ChangeAllProtocolsStatusForAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAllProtocolsStatusForAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminChannel">
    <wsdl:operation name="DisconnectSwarmMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminChannel/DisconnectSwarmMember" message="tns:IAdminChannel_DisconnectSwarmMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminChannel/DisconnectSwarmMemberResponse" message="tns:IAdminChannel_DisconnectSwarmMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastNewAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminChannel/BroadcastNewAccount" message="tns:IAdminChannel_BroadcastNewAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminChannel/BroadcastNewAccountResponse" message="tns:IAdminChannel_BroadcastNewAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAllProtocolsStatusForAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminChannel/ChangeAllProtocolsStatusForAccount" message="tns:IAdminChannel_ChangeAllProtocolsStatusForAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminChannel/ChangeAllProtocolsStatusForAccountResponse" message="tns:IAdminChannel_ChangeAllProtocolsStatusForAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IAdminChannel" type="tns:IAdminChannel">
    <wsp:PolicyReference URI="#CustomBinding_IAdminChannel_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisconnectSwarmMember">
      <soap12:operation soapAction="http://tempuri.org/IAdminChannel/DisconnectSwarmMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastNewAccount">
      <soap12:operation soapAction="http://tempuri.org/IAdminChannel/BroadcastNewAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAllProtocolsStatusForAccount">
      <soap12:operation soapAction="http://tempuri.org/IAdminChannel/ChangeAllProtocolsStatusForAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminChannel">
    <wsdl:port name="CustomBinding_IAdminChannel" binding="tns:CustomBinding_IAdminChannel">
      <soap12:address location="http://localhost:64796/Services/AdminChannel.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:64796/Services/AdminChannel.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>