NexusPhone/Service References/WebIM/WebIM41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.adrensoftware.webim" elementFormDefault="qualified" targetNamespace="com.adrensoftware.webim" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core.nexus-im.com/WebIM?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstantMessage" />
  <xs:import schemaLocation="http://core.nexus-im.com/WebIM?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://core.nexus-im.com/WebIM?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" />
  <xs:element name="LoginToCore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCoreWithToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCoreWithTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreconfiguredLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocolId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InstantMessage" minOccurs="0" name="status" type="q1:IMStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreconfiguredLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="protocolId" type="q2:guid" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messagebody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPushStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" minOccurs="0" name="type" type="q3:PushChannelType" />
        <xs:element minOccurs="0" name="urichannel" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPushStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPushStream">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPushStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>