NexusIM/Service References/NexusCore/CoreService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd3" namespace="com.adrensoftware.nexus" />
  <xs:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/InstantMessage" />
  <xs:complexType name="MyAccountInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="mFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAccountInformation" nillable="true" type="tns:MyAccountInformation" />
  <xs:simpleType name="AuthenticationTokenTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AllowCoreLogin">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AllowSwarmConnect">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AllowLocationGet">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AllowAccountGet">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SingleUse">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AuthenticationTokenTypes" nillable="true" type="tns:AuthenticationTokenTypes" />
  <xs:complexType name="ArrayOfContactLocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactLocationInfo" nillable="true" type="tns:ContactLocationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactLocationInfo" nillable="true" type="tns:ArrayOfContactLocationInfo" />
  <xs:complexType name="ContactLocationInfo">
    <xs:sequence>
      <xs:element xmlns:q1="com.adrensoftware.nexus" minOccurs="0" name="AccountInfo" nillable="true" type="q1:AccountInfo" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Messagable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceType" type="tns:LocationServiceType" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactLocationInfo" nillable="true" type="tns:ContactLocationInfo" />
  <xs:simpleType name="LocationServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GoogleLatitude" />
      <xs:enumeration value="FireEagle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LocationServiceType" nillable="true" type="tns:LocationServiceType" />
  <xs:complexType name="UserLocationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accuracy" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="RowId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceType" type="tns:LocationServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLocationData" nillable="true" type="tns:UserLocationData" />
  <xs:complexType name="ArrayOfUserLocationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLocationData" nillable="true" type="tns:UserLocationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLocationData" nillable="true" type="tns:ArrayOfUserLocationData" />
  <xs:complexType name="ArrayOfISwarmMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ISwarmMessage" nillable="true" type="tns:ISwarmMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfISwarmMessage" nillable="true" type="tns:ArrayOfISwarmMessage" />
  <xs:complexType name="ISwarmMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="mDeviceRecipient" type="xs:int" />
      <xs:element minOccurs="0" name="mDeviceSender" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISwarmMessage" nillable="true" type="tns:ISwarmMessage" />
  <xs:complexType name="LocationMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mServiceType" type="tns:LocationServiceType" />
          <xs:element minOccurs="0" name="mUid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationMessage" nillable="true" type="tns:LocationMessage" />
  <xs:complexType name="DisconnectMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mReason" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisconnectMessage" nillable="true" type="tns:DisconnectMessage" />
  <xs:complexType name="SwarmChatMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageContents" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViaAccount" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SwarmChatMessage" nillable="true" type="tns:SwarmChatMessage" />
  <xs:complexType name="ProtocolReadyMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element xmlns:q2="com.adrensoftware.nexus" minOccurs="0" name="AccountInfo" nillable="true" type="q2:AccountInfo" />
          <xs:element minOccurs="0" name="ProtocolId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProtocolReadyMessage" nillable="true" type="tns:ProtocolReadyMessage" />
  <xs:complexType name="SwarmStatusChangeMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mDeviceId" type="ser:guid" />
          <xs:element minOccurs="0" name="mType" type="tns:SwarmStatusChangeTypes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SwarmStatusChangeMessage" nillable="true" type="tns:SwarmStatusChangeMessage" />
  <xs:simpleType name="SwarmStatusChangeTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Removed" />
      <xs:enumeration value="Online" />
      <xs:enumeration value="Offline" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SwarmStatusChangeTypes" nillable="true" type="tns:SwarmStatusChangeTypes" />
  <xs:complexType name="RequestMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mMessageId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestMessage" nillable="true" type="tns:RequestMessage" />
  <xs:complexType name="RequestContactInfoMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestMessage">
        <xs:sequence>
          <xs:element xmlns:q3="com.adrensoftware.nexus" minOccurs="0" name="mAccInfo" nillable="true" type="q3:AccountInfo" />
          <xs:element minOccurs="0" name="mUsername" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestContactInfoMessage" nillable="true" type="tns:RequestContactInfoMessage" />
  <xs:complexType name="ResponseMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ISwarmMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mMessageId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
  <xs:complexType name="RequestContactInfoResponseMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mDisplayName" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InstantMessage" minOccurs="0" name="mStatus" type="q4:IMBuddyStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestContactInfoResponseMessage" nillable="true" type="tns:RequestContactInfoResponseMessage" />
  <xs:simpleType name="MessageOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SendToInactiveDevices">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SendToActiveDevices">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SendToAllDevices">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SendToAccountMaster">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="MessageOptions" nillable="true" type="tns:MessageOptions" />
  <xs:simpleType name="PushChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GenericTcp" />
      <xs:enumeration value="GenericUdp" />
      <xs:enumeration value="MicrosoftPN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PushChannelType" nillable="true" type="tns:PushChannelType" />
</xs:schema>