NexusIM/Service References/NexusCore/CoreService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.adrensoftware.com/nexusim/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.adrensoftware.com/nexusim/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.adrensoftware.com/nexusim/Imports">
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd2" namespace="http://www.adrensoftware.com/nexusim/" />
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NexusCore.DataContracts" />
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd3" namespace="com.adrensoftware.nexus" />
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://core.nexus-im.com/Services/CoreService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/InstantMessage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoreService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICoreService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_LoginWithToken_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWithToken" />
  </wsdl:message>
  <wsdl:message name="ICoreService_LoginWithToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWithTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ICoreService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GenerateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateToken" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GenerateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLocationData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationData" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLocationData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetMyAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyAccountInfo" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetMyAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_AllAccountCloudLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AllAccountCloudLogin" />
  </wsdl:message>
  <wsdl:message name="ICoreService_AllAccountCloudLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllAccountCloudLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_RegisterAsMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAsMaster" />
  </wsdl:message>
  <wsdl:message name="ICoreService_RegisterAsMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAsMasterResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_UnregisterAsMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterAsMaster" />
  </wsdl:message>
  <wsdl:message name="ICoreService_UnregisterAsMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterAsMasterResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetMultipleLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultipleLocations" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetMultipleLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultipleLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmTokenSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:SwarmTokenSubscribe" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmTokenSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwarmTokenSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:SwarmSubscribe" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwarmSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmUnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:SwarmUnSubscribe" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SwarmUnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwarmUnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetSwarmMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSwarmMessages" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetSwarmMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSwarmMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SendSwarmMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSwarmMessage" />
  </wsdl:message>
  <wsdl:message name="ICoreService_SendSwarmMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSwarmMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_StartPushMessageStream_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPushMessageStream" />
  </wsdl:message>
  <wsdl:message name="ICoreService_StartPushMessageStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPushMessageStreamResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_StartPushMessageStreamUri_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPushMessageStreamUri" />
  </wsdl:message>
  <wsdl:message name="ICoreService_StartPushMessageStreamUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPushMessageStreamUriResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_DeviceKeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:DeviceKeepAlive" />
  </wsdl:message>
  <wsdl:message name="ICoreService_DeviceKeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeviceKeepAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoreService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/Login" message="tns:ICoreService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/LoginResponse" message="tns:ICoreService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithToken">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/LoginWithToken" message="tns:ICoreService_LoginWithToken_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/LoginWithTokenResponse" message="tns:ICoreService_LoginWithToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/Logout" message="tns:ICoreService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/LogoutResponse" message="tns:ICoreService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateToken">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GenerateToken" message="tns:ICoreService_GenerateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GenerateTokenResponse" message="tns:ICoreService_GenerateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetAccounts" message="tns:ICoreService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetAccountsResponse" message="tns:ICoreService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationData">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetLocationData" message="tns:ICoreService_GetLocationData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetLocationDataResponse" message="tns:ICoreService_GetLocationData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyAccountInfo">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetMyAccountInfo" message="tns:ICoreService_GetMyAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetMyAccountInfoResponse" message="tns:ICoreService_GetMyAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllAccountCloudLogin">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/AllAccountCloudLogin" message="tns:ICoreService_AllAccountCloudLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/AllAccountCloudLoginResponse" message="tns:ICoreService_AllAccountCloudLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAsMaster">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/RegisterAsMaster" message="tns:ICoreService_RegisterAsMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/RegisterAsMasterResponse" message="tns:ICoreService_RegisterAsMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterAsMaster">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/UnregisterAsMaster" message="tns:ICoreService_UnregisterAsMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/UnregisterAsMasterResponse" message="tns:ICoreService_UnregisterAsMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetLocation" message="tns:ICoreService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetLocationResponse" message="tns:ICoreService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultipleLocations">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetMultipleLocations" message="tns:ICoreService_GetMultipleLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetMultipleLocationsResponse" message="tns:ICoreService_GetMultipleLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwarmTokenSubscribe">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmTokenSubscribe" message="tns:ICoreService_SwarmTokenSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmTokenSubscribeResponse" message="tns:ICoreService_SwarmTokenSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwarmSubscribe">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmSubscribe" message="tns:ICoreService_SwarmSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmSubscribeResponse" message="tns:ICoreService_SwarmSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwarmUnSubscribe">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmUnSubscribe" message="tns:ICoreService_SwarmUnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SwarmUnSubscribeResponse" message="tns:ICoreService_SwarmUnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSwarmMessages">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetSwarmMessages" message="tns:ICoreService_GetSwarmMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/GetSwarmMessagesResponse" message="tns:ICoreService_GetSwarmMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSwarmMessage">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SendSwarmMessage" message="tns:ICoreService_SendSwarmMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/SendSwarmMessageResponse" message="tns:ICoreService_SendSwarmMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPushMessageStream">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/StartPushMessageStream" message="tns:ICoreService_StartPushMessageStream_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/StartPushMessageStreamResponse" message="tns:ICoreService_StartPushMessageStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPushMessageStreamUri">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/StartPushMessageStreamUri" message="tns:ICoreService_StartPushMessageStreamUri_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/StartPushMessageStreamUriResponse" message="tns:ICoreService_StartPushMessageStreamUri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeviceKeepAlive">
      <wsdl:input wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/DeviceKeepAlive" message="tns:ICoreService_DeviceKeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://www.adrensoftware.com/nexusim/ICoreService/DeviceKeepAliveResponse" message="tns:ICoreService_DeviceKeepAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>